.text-block 
  max-width: 50rem
  background: var(--secondary-light)
  padding: 2rem
  margin: 1rem auto
  color: var(--primary)
  line-height: 150%
  font-size: 1.1rem
  border-radius: 3px
  border-radius: 2px
  box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, 0.3)
  h2
    text-align: center
  p
    font-weight: 300
    padding: 0
    margin: 2rem 0
    &:last-child
      text-align: center
  .quote
    display: inline-flex
    align-items: center
    justify-content: center
    width: 100%
    p
      font-style: italic
.messages
  margin: 5rem auto
  width: 50rem
