\:host
  height: calc(100vh - 3.5rem)
  display: flex
  min-height: 40rem
.wrapper
  align-self: center
  h1
    font-size: 8rem
    margin: 0
    align-self: center
    &.word
      background: var(--secondary-light) 
      color: var(--primary) 
      width: max-content
      padding: 0 1rem
      margin-top: 1rem
      box-shadow: 1px 1px 7px 4px rgba(0, 0, 0, 0.3)